@import '../../variables';

.characteristics-hero {
  width: 100%;

  &__row {
    @include flex(row, flex-start, center);
    border-bottom: 2px solid #787777;
  }

  &__cell {
    width: 50%;
    word-wrap: break-word;
    padding: 8px 0;

    &:first-child {
      padding-right: 16px;
    }
  }
}