@import "../../variables";

.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    justify-content: space-between;
  }
}

.hero-page {
  @include flex(column, flex-start, center);

  @media screen and (min-width: $tablet) {
    @include flex(row, flex-start, flex-start);
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__img-wrap {
    width: 100%;
    padding-right: 32px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: left;
      width: 50%;
    }
  }

  &__img {
    max-width: 100%;
  }
}