@import "../../variables";

.teams-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-page {
  @include flex(column, center, flex-start);

  @media screen and (min-width: $tablet) {
    @include flex(row, flex-start, flex-start);
  }

  &__title {
    width: 100%;
    text-align: center;
  }

  &__img-wrap {
    width: 50%;
    padding-right: 32px;
  }

  &__img {
    max-width: 100%;
  }

  &__characteristics {
    table {
      width: 100%;
    }
  }
}